<div class="layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-between">
    <label>Celsius: </label>
    <input
      [(ngModel)]="valueCelcius"
      type="number"
      class="large"
      data-test-id="celsius-input"
      [ngModel]="cels()"
    />
  </section>

  <section class="layout-row align-items-center justify-content-between">
    <label>Fahrenheit: </label>
    <input
      [(ngModel)]="valueFarenheit"
      type="number"
      class="large"
      data-test-id="fahrenheit-input"
      [ngModel]="faren()"
    />
  </section>
</div>
